{% extends 'GroupCraft/base.html' %}
{% block content %}
	<HEADER><TITLE>About the Team</TITLE></HEADER>
	<div class="four head columns backborder">
		<h4 class="head">Alex Aavang</h4><hr/>
		<p>
			I wrote most of the Django templates/python backend code for this website.
			My educational focus has been in the area of Software Engineering with a focus on
			Networked Applications.  In my spare time I enjoy programming microcontrollers,
			specifically Arduinos to perform various tasks.
		</p>
		<IMG SRC="{{ STATIC_URL }}imgs/Alex.jpg" /> <br>
		<br>
	</div>

	<div class="four head columns backborder">
		<h4 class="head">Grant Woolard</h4><hr/>
		<p>
		{Insert Stuff Here}<br>
		</p>
	</div>

	<div class="four head columns backborder">
		<h4 class="head">Lamogha Ighoroje</h4><hr/>
		<p>
			{Insert Stuff Here}<br>
		</p>
		<br>
	</div>
{% endblock %}