<HTML>
<LINK href="{{ STATIC_URL}}css/basic/zurb.css" rel="stylesheet" title="basicstyle" type="text/css" />
<link rel="icon"
      type="image/png"
      href="{{ STATIC_URL }}imgs/favicon.ico" />
<body>
<nav class="top-bar">
	<ul>
		<li class="name"><h1><a href="/groupcraft">GroupCraft</a></h1></li>
		<li class="toggle-topbar"><a href="#"></a></li>
	</ul>

	<section>
		<ul class="left">
		</ul>

		<ul class="right">
			<li class="has-button">
				<a class="small round button" href="/groupcraft/add_group">Create Group...</a>
			</li>
			<li class="search">
				<script type="text/javascript">
					function handleKeyPress(e,form){
						var key=e.keyCode || e.which;
						if (key==13){
							form.submit();
						}
					}
					function handleClick(e,input){
						input.value = "";
					}
					function handleBlur(e,input){
						if(input.value == ""){
							input.value = "Search...";
						}
					}
				</script>
				<form action="/groupcraft/search/" method="post">
					{% csrf_token %}
					<input type="search" name="query" placeholder="Search..."
					       onkeypress="handleKeyPress(event,this.form)"
					       onclick="handleClick(event,this)"
					       onblur="handleBlur(event,this)" />
				</form>

			</li>
			<li class="has-dropdown">
				<a href="#">Account Actions...</a>

				<ul class="dropdown">
					{% if user.is_authenticated %}
						<li><a href="/groupcraft/logout">Logout</a></li>
					{% else %}
						<li><a href="/groupcraft/login">Login</a></li>
						<li><a href="/groupcraft/register">Register</a></li>
					{% endif %}
				</ul>
			</li>
		</ul>
	</section>
</nav>

<!-- End Navigation -->

{% block sidebar %}

{% endblock %}

{% block content %}

{% endblock %}


<!-- Footer -->

<footer class="row">
	<div class="twelve columns"><hr />
		<div class="row">

			<div class="six columns">
				<p>&copy; GroupCraft Ltd. 2013</p>
			</div>

			<div class="six columns">
				<ul class="link-list right">
					<li><a href="/groupcraft">Home</a></li>
					<li><a href="/groupcraft/about">About</a></li>
				</ul>
			</div>

		</div>
	</div>
</footer>

<!-- End Footer -->

<!-- Included JS Files -->
<script src="{{ STATIC_URL }}js/zurb.js"></script>
<script type="text/javascript">
	$(window).load(function() {
		$('#featured').orbit({ fluid: '2x1' });

		try {
			TagCanvas.Start('myCanvas','tags', {
				textFont: 'Impact,"Arial Black",sans-serif',
				textColour: '#000',
				textHeight: 25,
				weight: true,
				weightSizeMin: 12,
				weightSizeMax: 50,
				decel: 1,
				initial:[.15, .1],
				freezeActive:true
				/* more options */
			});
		} catch(e) {
			// something went wrong, hide the canvas container
			document.getElementById('myCanvasContainer').style.display = 'none';
		}
	});
</script>
<!-- End Footer -->
</body>
</HTML>