{% extends 'GroupCraft/base.html' %}
{% block content %}
	{% if valid %}
		<div class="row">
			<div class="head" class="twelve columns">
				<h1>{{ name }}</h1>
			</div>
			<title>{{ name }}</title>
			<hr>
			<div class="row">
				<div class="twelve columns">
					<div class="row">

						<!-- Updated tag cloud -->

						<div class="four hide-for-small columns backborder">
							<h4 class="head">Associated Tags</h4><hr/>
							<div id="myCanvasContainer">
								<canvas width="300" height="300" id="myCanvas">
								</canvas>
							</div>

							<div id="tags">
								<ul>
									{%  for t in tags %}
										<li><a style="font-size: {{ t.count }}pt" href="/groupcraft/tag/{{ t.get_encoded }}">{{ t.get_decoded }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
						<!-- End Cloud -->

						<!-- Groups -->

						<div class="four mobile-two hide-for-small columns backborder">

							<h4 class="head">Group Members</h4><hr/>

							<div class="hide-for-small">
								<h6>Admins: </h6>
								{% if admins %}
									{% for name in admins %}
										<a href="/groupcraft/user/{{ name }}">{{ name }}</a><br>
									{% endfor %}
								{% endif %}
								<hr>
								<h6>Members: </h6>
								{% if members %}
									{% for name in members %}
										<a href="/groupcraft/user/{{ name }}">{{ name }}</a><br>
									{% endfor %}
								{% else %}
									No Members Yet!<br>
								{% endif %}
								<br>
								<hr>
								<a class="small round button" href="/groupcraft/join_group/{{ url }}">Join This Group!</a><br>
								<br>
							</div>

						</div>

						<!-- End Groups -->

						<!-- Users -->

						<div class="four mobile-two hide-for-small columns backborder">

							<h4 class="head">Posts</h4><hr/>

							{% if posts %}
								{% for p in posts %}
									<div class="panel">
										<h5><a href="/groupcraft/group/{{ p.group.get_url }}">{{ p.title }}</a></h5>

										<h6 class="subheader">
											At {{ p.date }}<br>
											{% if p.replyTo %}
												<b>In response to: {{ p.replyTo.title }} </b> <br>
											{% endif %}
											From <a href="/groupcraft/user/{{ p.author }}">{{ p.author }}</a> <br>
											{{ p.get_snippet }}...
										</h6>
									</div>
								{% endfor %}
							{% else %}
								No Posts Yet!
							{% endif %}
							<hr>
							{% if isMember or isAdmin %}
								Post to this group:
								<form action="/groupcraft/post/{{ url }}" method="POST">
									{% csrf_token %}
									Title: <input type="text" id="title" name="title">
									Text:
									<textarea name="textarea" id="textarea" ></textarea>
									<input type="submit" value="Post">
								</form>
							{% endif %}

						</div>

						<!-- End Users -->

					</div>
				</div>
			</div>

			<!-- End Content -->

		</div>
	{% else %}
		<H1 class="head">Group "{{name}}" Does Not Exist!</H1>
		<hr>
		<script type="text/javascript">
			function initializeName(){
				document.getElementById('id_name').value = '{{ name }}';
			}
		</script>
		<div class="head">
			<a class="small round button head" data-reveal-id="createGroupModal" onclick="initializeName()">Create this Group!</a>
		</div>
	{% endif %}
{% endblock %}