{% extends 'GroupCraft/base.html' %}

<!-- End Navigation -->

{% block content %}
<div class="row">
	<div class="twelve columns">

		<!-- Content Slider -->

		<div class="row">
			<div class="twelve columns ">

				<div id="featured">
					<img src="{{ STATIC_URL }}imgs/hobbit.jpg" alt="slide image">
					<img src="{{ STATIC_URL }}imgs/minecraft.png" alt="slide image">
					<img src="{{ STATIC_URL }}imgs/group.jpg" alt="slide image">
				</div>

			</div>
		</div>

		<!-- End Content Slider -->

		<!-- Mobile Header -->


		</div><br>

		<!-- End Mobile Header -->


		<div class="row">
			<div class="twelve columns">
				<div class="row">

					<!-- Image mid-column -->

					<div class="four hide-for-small columns">
						<h4>Trending Tags</h4><hr/>
						<div id="myCanvasContainer">
							<canvas width="300" height="300" id="myCanvas">
							</canvas>
						</div>

						<div id="tags">
							<ul>
								{%  for t in tags %}
									<li><a style="font-size: {{ t.count }}pt" href="/groupcraft/tag/{{ t.get_encoded }}">{{ t.get_decoded }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<!-- End Image -->

					<!-- Shows -->

					<div class="four mobile-two hide-for-small columns">

						<h4>Largest Groups</h4><hr/>

						<div class="hide-for-small">
							{% for g in groups %}
								<div class="row">
									<div class="one column">
										<a href="/groupcraft/group/{{ g.get_url }}">{{ g.name }}</a>
									</div>

									<div class="nine columns">
										<h5 class="subheader"><a href="/groupcraft/group/{{ g.get_url }}">{{ g.description }}</a></h5>
									</div>
								</div><hr/>
							{% endfor %}
						</div>

					</div>

					<!-- End Shows -->


					<!-- Feed -->

					<div class="four mobile-four columns">

						<h4>GroupCraft News</h4><hr/>
						{% for p in posts %}
						<div class="panel">
							<h5><a href="#">{{ p.title }}</a></h5>

							<h6 class="subheader">
								{{ p.get_snippet }}...
							</h6>

							<h6><a href="#">Read More »</a></h6>
						</div>
						{% endfor %}

						<a href="/groupcraft/group/GroupCraft" class="right">Go To GroupCraft Group »</a>

					</div>

					<!-- End Feed -->

				</div>
			</div>
		</div>

		<!-- End Content -->

	</div>
</div>
	<script src="{{ STATIC_URL }}js/tagcanvas.min.js" type="text/javascript"></script>
{% endblock %}