{% extends 'GroupCraft/base.html' %}

<!-- End Navigation -->

{% block content %}
<div class="row">
	<div class="twelve columns">

		<!-- Content Slider -->

		<div class="row">
			<div class="twelve columns hide-for-small">

				<div id="featured">
					<img src="{{ STATIC_URL }}imgs/Alex.jpg" alt="slide image">
					<img src="http://placehold.it/1200x500&text=Slide Image" alt="slide image">
					<img src="http://placehold.it/1200x500&text=Slide Image" alt="slide image">
				</div>

			</div>
		</div>

		<!-- End Content Slider -->

		<!-- Mobile Header -->

		<div class="row">
			<div class="twelve columns show-for-small">

				<img src="http://placehold.it/1200x700&text=Mobile Header">

			</div>
		</div><br>

		<!-- End Mobile Header -->


		<div class="row">
			<div class="twelve columns">
				<div class="row">

					<!-- Image mid-column -->

					<div class="four hide-for-small columns">
						<h4>Trending Tags</h4><hr/>
						<div id="myCanvasContainer">
							<canvas width="300" height="300" id="myCanvas">
							</canvas>
						</div>

						<div id="tags">
							<ul>
								{%  for t in tags %}
									<li><a style="font-size: {{ t.count }}pt" href="/groupcraft/tag/{{ t.name }}">{{ t.name }}</a></li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<!-- End Image -->

					<!-- Shows -->

					<div class="four mobile-two hide-for-small columns">

						<h4>Largest Groups</h4><hr/>

						<div class="hide-for-small">
							{% for g in groups %}
								<div class="row">
									<div class="one column">
										<a href="/groupcraft/group/{{ g.get_url }}">{{ g.name }}</a>
									</div>

									<div class="nine columns">
										<h5 class="subheader"><a href="/groupcraft/group/{{ g.get_url }}">{{ g.description }}</a></h5>
									</div>
								</div><hr/>
							{% endfor %}
						</div>

					</div>

					<!-- End Shows -->


					<!-- Feed -->

					<div class="four mobile-four columns">

						<h4>Blog</h4><hr/>
						<div class="panel">
							<h5><a href="#">Post Title 1</a></h5>

							<h6 class="subheader">
								Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Suspendisse ultrices ornare tempor...
							</h6>

							<h6><a href="#">Read More »</a></h6>
						</div>

						<div class="panel hide-for-small">
							<h5><a href="#">Post Title 2 »</a></h5>
						</div>

						<div class="panel hide-for-small">
							<h5><a href="#">Post Title 3 »</a></h5>
						</div>

						<a href="#" class="right">Go To Blog »</a>

					</div>

					<!-- End Feed -->

				</div>
			</div>
		</div>

		<!-- End Content -->

	</div>
</div>
	<script src="{{ STATIC_URL }}js/tagcanvas.min.js" type="text/javascript"></script>
{% endblock %}