{% extends 'GroupCraft/base.html' %}
{% block content %}
	<TITLE>Tag Search: {{ name }}</TITLE>
	<h1>Tag Search Results For: {{ name }}</h1>

	<div class="row">
	<div class="four mobile-two hide-for-small columns backborder centered">

		<h4>Group Results</h4><hr/>

		<div class="hide-for-small">
			{% if groups %}
				{% for g in groups %}
					<div class="row">
						<div class="one column">
							<a href="/groupcraft/group/{{ g.get_url }}">{{ g.name }}</a>
						</div>

						<div class="nine columns">
							<h5 class="subheader">{{ g.description }}</h5>
						</div>
					</div><hr/>
				{% endfor %}
			{% else %}
				<h6>No Groups Found</h6>
			{% endif %}
		</div>

	</div>
{% endblock %}