{% extends 'GroupCraft/base.html' %}
{% block content %}
	<div class="row">
		<div class="twelve columns head">
			<h1>{{ username }}</h1>

			<img src="{{MEDIA_URL}}{{userprofile.picture}}" width="200" height="150"/>
		</div>
		<title>{{ username }}</title>
		<hr>
		<div class="row">
			<div class="twelve columns">
				<div class="row">

					<!-- Updated tag cloud -->

					<div class="four columns backborder">
						<h4 class="head">User Info</h4><hr/>
						<div class="panel">
							Username: {{ username }}<br>
							Name:
							{% if isUser %}
								{{ firstname }} {{ lastname }}<br>
							{% else %}
								<i>Hidden</i><br>
							{% endif %}
							Email: {{ email }}<br>
						</div>
						<hr>
					</div>
					<!-- End Cloud -->

					<!-- Groups -->

					<div class="four mobile-two hide-for-small columns backborder">

						<h4 class="head">Groups</h4><hr/>
						{% if isUser %}
							{% if groups %}
								{% for ug in groups %}
									<div class="panel">
										<h5><a href="/groupcraft/group/{{ ug.group.get_url }}">{{ ug.group.name }}</a></h5>

										{% if ug.isAdmin %}
											Admin<br>
										{% else %}
											Member<br>
										{% endif %}


										<h6 class="subheader">{{ ug.group.description }}</h6>

									</div>
								{% endfor %}
							{% else %}
								<h6 class="head">No Groups Found</h6>
							{% endif %}
						{% else %}
							<p class="head"><i>Hidden</i></p>
						{% endif %}
					</div>

					<!-- End Groups -->

					<!-- Users -->

					<div class="four mobile-two hide-for-small columns backborder">

						<h4 class="head">Posts</h4><hr/>
						{% if isUser %}
							{% if posts %}
								{% for p in posts %}
									<div class="panel">
										<h5><a href="/groupcraft/group/{{ p.group.get_url }}">{{ p.title }}</a></h5>

										<h6 class="subheader">
											{% if p.replyTo %}
												<b>In response to: {{ p.replyTo.title }} </b> <br>
											{% endif %}
											{{ p.author }}<br>
											At {{ p.date }}<br>
											{{ p.get_snippet }}...
										</h6>
									</div>
								{% endfor %}
							{% endif %}
						{% else %}
							<p class="head"><i>Hidden</i></p>
						{% endif %}

					</div>

					<!-- End Users -->

				</div>
			</div>
		</div>

		<!-- End Content -->

	</div>
{% endblock %}