{% extends 'GroupCraft/base.html' %}
{% block content %}
	<TITLE>Tag Search: {{ name }}</TITLE>
	<h1 class="head">Tag Search Results For: {{ name }}</h1>


	<div class="row">
		<div class="four mobile-two hide-for-small columns backborder centered">

			<h4 class="head">Group Results</h4><hr/>

			<div class="hide-for-small">
				{% if groups %}
					{% for g in groups %}
						<div class="panel">
							<h5><a href="/groupcraft/group/{{ g.get_url }}">{{ g.name }}</a></h5>

							<h6 class="subheader">{{ g.description }}</h6>

						</div>
					{% endfor %}
				{% else %}
					<h6 class="head">No Groups Found</h6>
				{% endif %}
			</div>

		</div>
{% endblock %}